server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Patient Service Routes
        - id: patient
          uri: http://localhost:8082
          predicates:
            - Path=/api/patients/**
          filters:
            - RewritePath=/api/patients(?<segment>/?.*), /internal/api/v1/patients$\{segment}

        # Medecin Service Routes
        - id: medecin
          uri: http://localhost:8083
          predicates:
            - Path=/api/medecins/**
          filters:
            - RewritePath=/api/medecins(?<segment>/?.*), /internal/api/v1/medecins$\{segment}

        # RendezVous Service Routes
        - id: rendezvous
          uri: http://localhost:8084
          predicates:
            - Path=/api/rendezvous/**
          filters:
            - RewritePath=/api/rendezvous(?<segment>/?.*), /internal/api/v1/rendezvous$\{segment}

        # Consultation Service Routes
        - id: consultation
          uri: http://localhost:8085
          predicates:
            - Path=/api/consultations/**
          filters:
            - RewritePath=/api/consultations(?<segment>/?.*), /internal/api/v1/consultations$\{segment}

        # Dossier Service Routes
        - id: dossier
          uri: http://localhost:8086
          predicates:
            - Path=/api/dossiers/**
          filters:
            - RewritePath=/api/dossiers(?<segment>/?.*), /internal/api/v1/dossiers$\{segment}